---
layout: index
title: Inicio
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <h4>La iniciativa</h4>
                <p>Es desarrollada por Fundación ARU, es información libre y gratuita, destinada principalmente a los hacedores de política y la población en general de los niveles sub-nacionales del País (Departamentos y municipios). Los principales datos corresponden a temas de fuerte interés social y son presentados de forma amigable y de fácil acceso.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>Fuentes de información</h4>
                <p>Lo información proviene de fuentes públicas y abiertas, empleamos; los Censos de Población y Vivienda, las Encuestas a Hogares y los Registros Administrativos. Toda esta información es sistematizada permanentemente por Fundación ARU en el afán de garantizar el principio de pertinencia de la información</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>Nuestra Meta</h4>
                <p>La principal meta de la iniciativa es <b>"Democratizar el Acceso a la Información"</b>,  creemos que podemos proveer a los gobiernos sub-nacionales información útil para sus planes de desarrollo local.</p>
                <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
            </div>		 				
        </div>
    </div><! --/container -->
</div><! --/service -->

{% include temas.html title="POR TEMAS" limit=10 %}

{% include portfolio.html title="POR FUENTE DE INFORMACIÓN" limit=10 %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>Más acerca de nosotros</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">Más Información</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Últimas Plataformas Dinámicas</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] limit:4 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Últimos Artículos</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:4 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

    </div><! --/row -->
</div><! --/container -->