<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Información para el desarrollo local</h3>
                <h1>PLATAFORMA DE DATOS ABIERTOS PARA BOLIVIA</h1>
                <h5>Una iniciativa de Fundación ARU</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->