---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Detalles</h4>
            <div class="hline"></div>
            <p><b>Mes de publicación:</b> {{ page.mes }}</p>
            <p><b>Autor:</b> {{ page.author }}</p>
        </div>
    </div><! --/row -->
</div><! --/container -->
	 
{% include temas.html title="Otros temás" limit=5 %}     
{% include portfolio.html title="Otras fuentes" limit=5 %}