---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Detalles</h4>
            <div class="hline"></div>
            <p><b>Fechas de publicación:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>Autor:</b> {{ page.author }}</p>
            <p><b>Website:</b> <a href="{{ page.website }}">{{ page.website }}</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->
	 
{% include temas.html title="Related Works." limit=5 %}     
{% include portfolio.html title="Related Works." limit=5 %}